/.idea/alicebot.iml
/.idea/misc.xml
/.idea/modules.xml
/.idea/vcs.xml
/.idea/workspace.xml
/faq.xls
/intents.zip
/intents/faq1.json
/intents/faq10.json
/intents/faq11.json
/intents/faq12.json
/intents/faq13.json
/intents/faq14.json
/intents/faq15.json
/intents/faq16.json
/intents/faq17.json
/intents/faq18.json
/intents/faq19.json
/intents/faq2.json
/intents/faq20.json
/intents/faq21.json
/intents/faq22.json
/intents/faq23.json
/intents/faq24.json
/intents/faq25.json
/intents/faq26.json
/intents/faq27.json
/intents/faq28.json
/intents/faq29.json
/intents/faq3.json
/intents/faq30.json
/intents/faq31.json
/intents/faq4.json
/intents/faq5.json
/intents/faq6.json
/intents/faq7.json
/intents/faq8.json
/intents/faq9.json
/ruwikiruscorpora_upos_skipgram_300_2_2018.vec
/tayga_1_2.vec
/resources/source/Apartment/ReservApartment.txt
/resources/source/Car/ReservCar.txt
/resources/source/Car/WhenUseCar.txt
/resources/source/ChangeFamilyEmployee.txt
/resources/source/contacts.txt
/resources/source/Documents/DocumnetFirstDay.txt
/resources/source/Documents/InfoFirstDay.txt
/resources/source/Holiday/CancelPlanHoliday.txt
/resources/source/Holiday/TransferPlanHoliday.txt
/resources/source/Library/ApprovalBook.txt
/resources/source/Library/BuyBook.txt
/resources/source/Library/BuyBookYouSelf.txt
/resources/source/Library/ByuBooks.txt
/resources/source/Library/ExtensionPayBook.txt
/resources/source/Library/GetBook.txt
/resources/source/Library/RequestForBuyBook.txt
/resources/source/Library/ReturnBook.txt
/resources/source/Library/SaveBook.txt
/resources/source/Miss/HolidayMiss.txt
/resources/source/Miss/RegistrationMiss.txt
/resources/source/Miss/RegistrationNonPlanMiss.txt
/resources/source/Miss/RegistrationPlanHoliday.txt
/resources/source/Pay/ChangePay.txt
/resources/source/Pay/DateChangePay.txt
/resources/source/Pay/PayDeadline.txt
/.idea/superbot.iml
/__pycache__/preprocessing.cpython-37.pyc
/__pycache__/VectorizedAnswer.cpython-37.pyc
/own.vec
/resources/ruwikiruscorpora_upos_skipgram_300_2_2018.vec
/resources/source/Pay/premium.txt
/resources/source/Pay/PremiumForEmployee.txt
/resources/source/PhysicalWorkEmployee.txt
/resources/source/Timeline/RuleTimeline.txt
/resources/source/Timeline/TimelineAdmin.txt
/resources/source/Timeline/TimelineBusinessTrip.txt
/resources/source/Timeline/TimelineClean.txt
/resources/source/Timeline/TimelineDB.txt
/resources/source/Timeline/TimelineNearning.txt
/resources/source/Timeline/TimelinePlaning.txt
/resources/source/Timeline/TimelineTeach.txt
/udpipe_syntagrus.model
