/.idea/alicebot.iml
/.idea/misc.xml
/.idea/modules.xml
/.idea/vcs.xml
/.idea/workspace.xml
/faq.xls
/intents.zip
/intents/faq1.json
/intents/faq10.json
/intents/faq11.json
/intents/faq12.json
/intents/faq13.json
/intents/faq14.json
/intents/faq15.json
/intents/faq16.json
/intents/faq17.json
/intents/faq18.json
/intents/faq19.json
/intents/faq2.json
/intents/faq20.json
/intents/faq21.json
/intents/faq22.json
/intents/faq23.json
/intents/faq24.json
/intents/faq25.json
/intents/faq26.json
/intents/faq27.json
/intents/faq28.json
/intents/faq29.json
/intents/faq3.json
/intents/faq30.json
/intents/faq31.json
/intents/faq4.json
/intents/faq5.json
/intents/faq6.json
/intents/faq7.json
/intents/faq8.json
/intents/faq9.json
/ruwikiruscorpora_upos_skipgram_300_2_2018.vec
/tayga_1_2.vec
